PORT=4000
CORS_ORIGIN=*
MONGODB_URI=
MONGODB_DB_NAME=ghostpay
OTP_EXPIRY_MINUTES=5
REVEAL_OTP_IN_RESPONSE=true
SMS_PROVIDER=none
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_FROM_NUMBER=
OTP_MESSAGE_TEMPLATE=Your GhostPay verification code is {{OTP}}. It expires in {{MINUTES}} minutes.
ALGORAND_NETWORK=testnet
ALGORAND_ALGOD_SERVER=
ALGORAND_ALGOD_PORT=
ALGORAND_ALGOD_TOKEN=
ALGORAND_EXPLORER_TX_BASE_URL=
ALGORAND_SENDER_MNEMONIC=
ALLOW_DEMO_MODE=true
MAX_ALGO_PER_TX=1000
CONFIRMATION_ROUNDS=6
GHOSTPAY_CONTRACT_APP_ID=0
ENFORCE_CONTRACT=false
